* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  width: 100%;
  float: left;
}
/* Header part */
header {
  background-color: #87509c;
}

.logo-part {
  width: 50%;
  float: left;
}

.menu-part {
  width: 50%;
  float: left;
}

/* services part */
#service {
  background-color: #17c2a4;
  color: #fff;
}

.box1 {
  width: 25%;
  float: left;
}

.box2 {
  width: 25%;
  float: left;
}

.box3 {
  width: 25%;
  float: left;
}

.box4 {
  width: 25%;
  float: left;
}

#section2 {
  background-color: #e7f1f8;
  color: black;
}

.sacrel-part {
  width: 90%;
  float: left;
}

.sacrel1 {
  width: 25%;
  float: left;
}

.sacrel2 {
  width: 25%;
  float: left;
}

.sacrel3 {
  width: 25%;
  float: left;
}

.sacrel4 {
  width: 25%;
  float: left;
}

#skills {
  background-color: #ffffff;
  color: #000;
}

.skill-1 {
  width: 25%;
  float: left;
}
.skill-2 {
  width: 25%;
  float: left;
}

.skill-3 {
  width: 25%;
  float: left;
}

.skill-4 {
  width: 25%;
  float: left;
}

#portfolio-part {
  background-color: #ffdd99;
  color: #000;
}

.image1 {
  width: 50%;
  float: left;
}

.image2 {
  width: 50%;
  float: left;
}

.image3 {
  width: 50%;
  float: left;
}

.image4 {
  width: 50%;
  float: left;
}

#about-part {
  background-color: #d74680;
  color: #fff;
}

.details1 {
  width: 50%;
  float: left;
}
.details2 {
  width: 50%;
  float: left;
}
.details3 {
  width: 50%;
  float: left;
}
.details4 {
  width: 50%;
  float: left;
}

#end-part {
  background-color: #3c5499;
  color: #fff;
}

.name {
  width: 50%;
  float: left;
}

.email {
  width: 50%;
  float: left;
}
#socil-part {
  background-color: #344b8e;
  text-align: center;
}
a {
  color: #fff;
}

.l1 {
  width: 11%;
  float: left;
}

.l2 {
  width: 11%;
  float: left;
}
.l3 {
  width: 11%;
  float: left;
}
.l4 {
  width: 11%;
  float: left;
}
.l5 {
  width: 11%;
  float: left;
}

.l6 {
  width: 11%;
  float: left;
}

.l7 {
  width: 11%;
  float: left;
}
